<div class="w2 mm">
        <div class="w1 m4">
            <ul>
                <li><a href="" id="border-out"><i></i>&nbsp;预约维修服务</a></li>
                <li><a href=""><i></i>&nbsp;7天无理由退货</a></li>
                <li><a href=""><i></i>&nbsp;15天免费换货</a></li>
                <li><a href=""><i></i>&nbsp;满69元包邮</a></li>
                <li><a href=""><i></i>&nbsp;1100余家售后网点</a></li>
            </ul>
        </div>
        <div class="w1 m5">
            <dl class="footer-dl" id="footer-dl">
                <dt>选购指南</dt>
                {% for cate in categorys %}
                <dd>
                <a href="">{{ cate["cname"] }}</a>
                </dd>
                {% endfor %}
            </dl>
            <dl class="footer-dl">
                <dt>服务中心</dt>
                <dd><a href="">申请售后</a></dd>
                <dd><a href="">售后服务</a></dd>
                <dd><a href="">维修服务价格</a></dd>
                <dd><a href="">订单查询</a></dd>
                <dd><a href="">以旧换新</a></dd>
                <dd><a href="">保障服务</a></dd>
                <dd><a href="">防伪查询</a></dd>
                <dd><a href="">F码通道</a></dd>

            </dl>
            <dl class="footer-dl">
                <dt>线下门店</dt>
                <dd><a href="">服务网点</a></dd>
                <dd><a href="">授权体验</a></dd>

            </dl>
            <dl class="footer-dl">
                <dt>关于我们</dt>
                <dd><a href="">了解我们</a></dd>
                <dd><a href="">加入我们</a></dd>
                <dd><a href="">投资者关系</a></dd>
                <dd><a href="">环境，社会管制</a></dd>
                <dd><a href="">廉洁举报</a></dd>

            </dl>
            <dl class="footer-dl">
                <dt>关注我们</dt>
                <dd><a href="">新浪微博</a></dd>
                <dd><a href="">官方微信</a></dd>
                <dd><a href="">联系我们</a></dd>
                <dd><a href="">公益基金会</a></dd>

            </dl>
            <div class="phone-number">
                <i>000-000-0000</i>
                <p>8:00-18:00&nbsp;（仅收市话费）</p>
                <a href=""><em></em>&nbsp;人工客服</a>
            </div>
        </div>
</div>