<div class="set">
        <div class="set1">
            <a href=""></a>
            <div id="set-">
                <img src="" alt="" class="set-1">
                <span class="set-2">扫码领取新人百元礼包</span>
                <div class="right-triango"></div>
            </div>
        </div>
        <div class="set1">
            <a href=""></a>
            <div id="set-change">
                <span class="set-2 set-2max">个人中心</span>
                <div class="right-triango"></div>
            </div>
        </div>
        <div class="set1">
            <a href=""></a>
            <div id="set-change2">
                <span class="set-2 set-2max">售后服务</span>
                <div class="right-triango"></div>
            </div>
        </div>
        <div class="set1">
            <a href=""></a>
            <div id="set-change3">
                <span class="set-2 set-2max">人工客服</span>
                <div class="right-triango"></div>
            </div>
        </div>
        <div class="set1">
            <a href=""></a>
            <div id="set-change4">
                <span class="set-2 set-2max">购物车</span>
                <div class="right-triango"></div>
            </div>
        </div>
        <div class="set2">
            <a href=""></a>
            <div id="set-change5">
                <span class="set-2 set-2max">回到顶部</span>
                <div class="right-triango"></div>
            </div>
        </div>
    </div>