<div class="w2 m2">
        <div class="w1">
            <div class="sp-div sp-first">
                <ul>
                    <li><a href=""><img src="/images/促销商品区1.png" alt="">保障服务</a></li>
                    <li><a href=""><img src="/images/促销商品区2.png" alt="">企业团购</a></li>
                    <li><a href=""><img src="/images/促销商品区3.png" alt="">F码通道</a></li>
                    <li><a href=""><img src="/images/促销商品区4.png" alt="">米粉卡</a></li>
                    <li><a href=""><img src="/images/促销商品区5.png" alt="">以旧换新</a></li>
                    <li><a href=""><img src="/images/促销商品区6.png" alt="">话费充值</a></li>
                </ul>
            </div>
            <div class="sp-div sp-last"><a href=""><img src="/images/促销商品区7.jpg" alt=""></a></div>
            <div class="sp-div sp-last"><a href=""><img src="/images/促销商品区8.jpg" alt=""></a></div>
            <div class="sp-div sp-last"><a href=""><img src="/images/促销商品区9.jpg" alt=""></a></div>
        </div>
    </div>