<div class="big-sub">
        <div class="sub-main w1 ">
            <div class="sub-left">
                <ul>
                    <li><a href="">全部商品</a>
                        <div class="left-change">
                            <ul>
                                {% for cate1 in all_categorys %}
                                <li>
                                    <p>{{ cate1["csname"] }}</p><i>99元起</i>
                                </li>
                                {% endfor %}

                            </ul>
                        </div>
                    </li>

                    {% for cate in categorys %}
                    <li>
                    {# <a href="{{ url_for('product.getClassify',cid=cate.id) }}">{{ cate["cname"] }}</a> #}
                    <a href="#">{{ cate["cname"] }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="sub-right">

                <input type="text" class="search" value="&nbsp;&nbsp;iphone 14 pro max 暗夜紫">
                <button></button>
            </div>

        </div>
    </div>